.main_div{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login_div{
    
    width: 900px;
    object-fit: contain;
    /* margin-bottom: 50%; */
    /* margin-bottom: 20%; */
    
}
.login-main{
    margin-top: 10%;
}